/* TODO: all the css */

:root {
    --hdft:  #004300;
    --hdft_text:  #00ff00;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    background-image: linear-gradient(
        #054c59 0%,
        #12b7b7 100%
    );
}

body article {
    align-content: stretch;
    margin: 25px;
    padding: 5px;
    max-width: 300px;
    border-style: double;
    border-color: rgb(0, 255, 4);
    border-width: 7px;
    border-radius: 15% 15% 5% 5%;
    text-align: center;
}

span {
    color: white;
    font-style: italic;
    padding: 0 10px;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -20px;
    max-height: 120px;
    max-width: 100%;
    align-items: center;
    background-color: var(--hdft);
    color: var(--hdft_text);
}

header p {
    max-width: 75%;
    text-align: center;
    position: relative;
    top: -20px;
}
  
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


article pre {
    font-size: x-small;
    text-align: left;
    /* content-align: center; */
    padding: 0 10px 0 20px;
    user-select: all;
    background-image: linear-gradient(
        #ea72d2,
        #b41a1a
    );
    border-radius: 25% 25% 10% 10%;
}

.code-card {
    font-family: 'Courier New', Courier, monospace;
   
}

article pre:hover {
    background-color: rgb(255, 128, 247);
}

article, .card-header {
    border-radius: 16px;
    transition: all 0.5s ease-in-out;
}

article:hover,
article:hover  .card-header {
    box-shadow: inset 0px 0px 50px
   rgb(255, 207, 207), 0 0 15px
   rgb(0, 255, 136);
}

.card-header {
    margin: 0 10px;
    padding: 0 30px;
    position: relative;
    top: -30px;
    border-width: 9px;
    border-radius: 15% 15% 40% 40%;
    border-color: rgb(20, 196, 52);
    border-block-start-style: ridge;
    border-block-end-style: ridge;
    background-image: linear-gradient(
        #ea72d2,
        #b41a1a
    );
}

footer {
    background-color: var(--hdft);
    color: var(--hdft_text)
    font-size: 20px;
    text-align: center;
}

footer p {
    color: var(--hdft_text);
}

/* this probably isnt done */
@media screen and (min-width: 992px) { 
    header {
        flex-direction: column;
    }

    main {
        max-width: 1200px;
    }
}